name: CI

on:
  pull_request:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"

permissions:
  contents: read

jobs:
  build-test-lint:
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Select Xcode 16.2
        run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer

      - name: Install swift-format
        run: brew install swift-format

      - name: Build
        run: swift build

      - name: Test
        run: swift test --build-path .build-tests

      - name: Lint
        run: just lint
